@* ######################################################################## *@
<style>

</style>

@* ######################################################################## *@
<div class='@(@class)'>
</div>

@* ######################################################################## *@
@code {
  [Parameter]
  public string @class {get; set;}
}