:root {
  --ui-font-color : black;
  --window-background : #D4D0CB;
  --panel-background : #f1ede7;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --hover-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 1.2) 0px 2px 4px -1px;
  --focus-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 1.2) 0px 2px 4px -1px;
  --animation_one: all .4s ease-out;
  --input-text-error-color : red;
  --input-color : white;
  --read-only-input-color : #ebe6e0;
  --focused-input-color : white;
}

@font-face {
  font-family: LogFont;
  src: url(FixedsysX.woff);
}

@font-face {
  font-family: UIFont;
  src: local('Calibri');
}

html {
  font-family: 'UIFont';
  color: var(--ui-font-color);
  background: var(--window-background);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

input, select {
  margin: 0.25em;
  padding: 0.25em;
  border: none;
  border: 1px solid gray;
  color: black;
  background-color: var(--input-color);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  transition: var(--animation_one)
}

input[readonly], select[readonly] {
  margin: 0.25em;
  padding: 0.25em;
  border: none;
  border: 1px solid gray;
  color: black;
  background-color: var(--read-only-input-color);
  box-shadow: var(--shadow);
  box-sizing: border-box;
  transition: var(--animation_one)
}

input:focus:not([readonly]), select:focus:not([readonly]) {
  outline: none !important;
  border: none;
  border: 1px solid black;
  background-color: var(--focused-input-color);
  box-shadow: var(--focus-shadow);
}

button {
  display: inline-block;
  outline: 0;
  border: 1px solid darkgray;
  color: black;
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 3px;
  background-image: linear-gradient(180deg,#ffffff,#fafafa);
  box-shadow: var(--shadow);
  transition: var(--animation_one)
}

button:not([disabled]) {
  cursor: pointer;
}

button:disabled {
  background-image: linear-gradient(180deg,#e2e2e2,#d1cfcf);
}

button:focus:not([disabled]) {
  border: 1px solid black;
  box-shadow: var(--focus-shadow);
}

button:hover:not([disabled]) {
  box-shadow: var(--hover-shadow);
}

button:active:not([disabled]) {
  background-image: linear-gradient(180deg,#fafafa,#f0f0f0);
}

label {
  white-space: nowrap;
}

.panel {
  background-color: var(--panel-background);
}

.card {
  padding: 10px;
  margin : 6px;
  background-color: white;
  border-radius: 3px;
  box-shadow: var(--shadow);
}

.card > label:first-child
{
  display: block;
  font-size: smaller;
  font-weight: bold;
  background-color: #eaeaea;
  padding: 0.25em;
  border-radius: 3px;
  margin-bottom: 0.5em;
}

div.property-page {
  display: grid;
  column-gap: 15px;
  grid-template-columns: fit-content(0) auto;
}

div.property-page > label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

div.input-error-message::before {
  content: attr(error-message);
  display: inline-block;
  font-size: smaller;
  color: var(--input-text-error-color);
  transition: var(--animation_one);
  z-index: 9;
  position: absolute;
  padding-top : 2.25em;
  padding-left : 0.5em;
}

.LogDisplay {
  font-family: LogFont;
  background-color: black;
  padding: 10px;
  margin : 6px;
  border-radius: 3px;
  box-shadow: var(--shadow);
}

.log-info {
  color : gainsboro;
}
.log-warning {
  color : orange;
}
.log-error {
  color : red;
}

.project-building {
  background-color: #edfff1;
}

.project-running {
  background-color: #f2f0ff;
}